.SimpleCard {
  text-overflow: ellipsis;

  .content {
    min-width: 260px;
    min-height: 210px;
    max-width: 260px;
    max-height: 210px;

    .avatar {
      margin: 0 auto;
      height: 80px;
      width: 80px;
      font-size: 2rem;
    }
  }

  .actions {
    max-height: 56px;
  }
}