.Header {
    position: relative;
    margin-top: 3px;
    height: 80vh;
    min-height: 65vh;
    max-height: 80vw;
    background: url('../../assets/paris.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .search-politician {
        margin: auto;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        color: whitesmoke;
    }

    @media screen and (max-width: 575px) {
        .search-politician {
            top: 24vh;

            h1 {
                font-size: 2rem;
            }
        }
    }
}
