.EditProfile {
  .modal-body {
    padding: 0;
  }

  .header {
    height: 120px;
    background: rgb(6, 33, 144);
    background: linear-gradient(90deg, rgba(6, 33, 144, 1) 0%, rgba(245, 245, 245, 1) 50%, rgba(217, 60, 63, 1) 100%);
  }

  #file-input {
    color: red;
  }

  .avatar {
    margin: -90px auto;
    width: 150px;

    .avatar-picture {
      margin: 0 auto;
      margin-left: 10px;
      height: 120px;
      width: 120px;
      object-fit: cover;
      border: 1px solid lightgrey;
      border-radius: 60px;
    }

    .upload-photo-wrapper {
      margin: -15px 0 0 100px;
      width: 30px;

      [type='file'] {
        height: 0;
        width: 0;
        overflow: hidden;
      }

      [type='file'] + label {
        img {
          height: 27px;
          width: 27px;
          border: 1.5px solid #1877f2;
          border-radius: 15px;
          transition: background-color 0.4s ease;
        }

        img:hover {
          background-color: rgb(209, 229, 255);
          cursor: pointer;
        }
      }
    }
  }

  .form-fields {
    margin-top: 95px;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .field {
      width: 373px;
      max-width: 95vw;
      margin: 5px 0;

      label {
        margin-bottom: 0.2rem;
        width: 350px;
        max-width: 95%;
        text-indent: 11px;
      }

      input {
        margin-bottom: 5px;
        margin-left: 5px;
        width: 350px;
        max-width: 85vw;
        border: 1px solid lightgrey;
        border-radius: 16px;
        text-indent: 8px;
      }
    }
    .top-limit {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .cities {
        top: -5px;
        right: 2px;
        width: 370px;
        max-width: 90vw;
        height: 216px;
        padding: 0;
        position: absolute;
        overflow: scroll;
        background-color: whitesmoke;
        border-radius: 5px;
      }

      @media screen and (max-width: 991px) {
        .cities {
          width: 410px;
        }
      }

      @media screen and (max-width: 575px) {
        .cities {
          margin-left: 8px;
          width: 438px;
        }
      }
    }
  }
}
