.ProfilePlaceholder {
    min-height: 10rem;
    border: 0.2rem dotted black;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.4s ease;
}

.ProfilePlaceholder:hover {
    opacity: 1;
    border-color: rgb(6, 33, 144);
    background-color: rgb(209, 229, 255);
    color: rgb(6, 33, 144);
}
