.Contact {
    min-height: 100vh;
    .subtitle {
        margin-top: 3rem;

        h4 {
            margin-top: 1rem 0;
        }
    }
    .content {
        margin: 3rem 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .MuiPaper-root {
            padding: 20px;
            width: 600px;
            max-width: 100vw;
        }

        @media screen and (max-width: 767px) {
            .MuiPaper-root {
                padding: 0;
            }
        }
    }

    @media screen and(max-width:575px) {
        .subtitle.content {
            margin-top: 1rem 0;
        }
    }
}
