.AboutUs {
    .header {
        position: relative;
        .bg-image {
            width: 100vw;
            max-height: 80vh;
            object-fit: cover;
        }

        h1 {
            position: absolute;
            top: 40%;
            left: 0;
            right: 0;
            color: white;
            font-size: 4rem;
        }

        @media screen and (max-width: 575px) {
            h1 {
                font-size: 2rem;
            }
        }
    }
}
